.navbar{
   background-color: rgb(17, 28, 38);
   border-bottom: 1px solid aliceblue;
}
.nav-item {
    position: relative;
}

.nav-item .nav-link {
    width: auto;
    text-align: center;
    color: aliceblue;
    overflow: hidden;
}
.fa-bars{
    color: aliceblue;
}
.navbar-toggler{
    opacity: 5;
}

.navbar-brand {
    color: rgb(238, 162, 108);  /*Shades of orange or coral */

    font-size: 30px;
}

.navbar .container-fluid > a:hover{
    color: aliceblue;
}
.nav-item .nav-link i {
    float: left;
}

.nav-item .nav-link-text {
    display: none;
    color: rgb(238, 162, 108);  /*Shades of orange or coral */
    /* color: rgb(156, 200, 236); Shades of blue or green */
    /* color: rgb(126, 173, 196); A slightly darker shade of blue */

    /* text-shadow: 1px 1px 3px rgb(82, 54, 195); */
    /* color: aliceblue; */
    font-weight: 500;
    position: absolute;
    left: 10%; /* Position the text to the right of the icon */
    top: 10;
}

.nav-item:hover .nav-link-text {
    display: inline-block;
    margin-left: 55%; /* Adjust the spacing between icon and text as needed */
}


@media (max-width: 920px) {
    .nav-item .nav-link-text {
        display: inline-block;
        margin-left: 5px; /* Adjust the spacing between icon and text as needed */
    }

    .nav-item .nav-link i {
        float: none; /* Remove the float on smaller screens */
        margin-right: 5px; /* Add margin to separate icon and text */
    }

    .nav-item:hover .nav-link-text {
        display: inline-block;
    }
}
